@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #0F052F;
}

.main-container > :first-child {
  margin-top: 0 !important;
}

.main-container > div {
  margin: 5px;
}
